body{
    text-align: center;
}

#div_1{
    background-color: bisque;
    border:4px solid blue;
    width: 1900px;
    height: 220px;
}

#h1{
    font-size: 35pt;
    text-align: center;
    color: darkgreen;
    position: relative;
    display: inline;
    top: 75px;
}

#img1{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 20px;
}

#img2{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 20px;
}
