body{
    background-color: rgb(92, 126, 92);
}
h1{
    font-size: 50pt;
}
h2{
    font-size: 30pt;
}
h3{
    font-size: 30pt;
}
h4{
    font-size: 30pt;
}
h5{
    font-size: 30pt;
}
li{
    font-size: 15pt;
}