h1{
    font-size: 30pt;
}

p{
    color:blue;
    font-size: 15pt;
}

#p1{
    color:rgb(192, 19, 192);
}

.tag_brown{
    color:brown;
}

div p{
    color:rgb(69, 148, 124);
}

p:hover{
    background-color:black;
}