.flex-container{
    background-color: green;
    height: 300px;
    display: flex;
    flex-direction: column-reverserow;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-content: space-around;*/
}

.flex-container div{
    background-color: red;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

#d5{
    order: 1;
    flex-grow: 3;
    align-self: center;
}

#d14{
    order: 2;
    flex-grow: 5;
    align-self: flex-start;
}

#d24{
    order: 3;
    flex-basis: 200px;
    align-self: flex-end;
}